@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "LOGO";
}

<!-- Animacion -->
<div class="animation">
 <div class="foreground"></div>
        <div class="midground"></div>   
        <div class="muntanya1"></div>
        <div id="cloud" class="target animate">
            <div class="cloud cloud-1"></div>
            <div class="cloud cloud-2"></div>
            <div class="cloud cloud-3"></div>
        </div>
        <div class="cel"></div>
</div>

<!-- Contenido -->

<div class="row elevar">
    <div class="col-md-4"></div>
    <div class="col-md-4 logear">
        <h2>@ViewData["Title"]</h2>
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                <div class="form-group textol">
                    <label asp-for="Email">Usuari</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group textol">
                    <label asp-for="Password">Contrasenya</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div asp-validation-summary="All" class="text-danger separate"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary botonlog">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">
                            <button class="btn btn-info botonlog">Registrar-se</button>
                        </a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
