@model RegisterViewModel
@{
    ViewData["Title"] = "LOGO";
}
<!-- Animacion -->
<div class="animation">
 <div class="foreground"></div>
        <div class="midground"></div>   
        <div class="muntanya1"></div>
        <div id="cloud" class="target animate">
            <div class="cloud cloud-1"></div>
            <div class="cloud cloud-2"></div>
            <div class="cloud cloud-3"></div>
        </div>
        <div class="cel"></div>
</div>

<!-- Contenido -->


<div class="row elevar">
    <div class="col-sm-4"></div>
    <div class="col-md-4 logear">
        <h2>@ViewData["Title"]</h2>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group textol">
                <label asp-for="Email">Usuari</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group textol">
                <label asp-for="Password">Contrasenya</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group textol separate">
                <label asp-for="ConfirmPassword">Repetir Contrasenya</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary botonlog">Registrar!</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
