@{ ViewData["Title"] = "Activitat3RN"; }

<!-- Animacion -->
<div class="animation">
    <div class="foreground"></div>
    <div class="midground"></div>
    <div class="muntanya1"></div>
    <div id="cloud" class="target animate">
        <div class="cloud cloud-1"></div>
        <div class="cloud cloud-2"></div>
        <div class="cloud cloud-3"></div>
    </div>
    <div class="cel"></div>
    <p class="nombre">Activitat3RN</p>
</div>

<!-- Contenido -->

<div class="container base2">
    <div class="row">
        <div class="col-sm-2 vidas2">
            <div class="vh">
                <img class="heart" src="~/css/imatges/corazon.png">
            </div>
            <div class="vh">
                <img class="heart" src="~/css/imatges/corazon.png">
            </div>
        </div>
        <div class="col-sm-10 actividad3 baseNumeros">
            <div class="dividir">
                <div class="dividir1">
                    <button class="resultado2 div11"></button>
                    <button class="resultado2 div12"></button>
                    <button class="resultado2 div13"></button>
                    <button class="resultado2 div14"></button>
                </div>
                <div class="dividir2">
                    <button class="resultado3 div21"></button>
                    <button class="resultado3 div22"></button>
                    <button class="resultado3 div23"></button>
                    <button class="resultado3 div24"></button>
                </div>
            </div>
        </div>
        <div class="row divanimacion">
            <div class="col-sm-12 animacionfinal">
                <img class='animatefinal' src='https://image.ibb.co/h6GWwT/Imagen_Inicial.png' />
            </div>
        </div>
    </div>
    </div>
    <!-- PopUp -->
    <div class="modal fade tipotexto" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Activitat 1!</h3>
                </div>
                <div class="modal-body modalflex">
                    <div id="reigno" class="animacionmodal">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" data-dismiss="modal" class="btn btn-primary botonacabar3" value="Tornar al Regne!" />
                </div>
            </div>
        </div>
    </div>
