@{
    ViewData["Title"] = "Activitat1RN";
}

<!-- Animacion -->
<div class="animation">
 <div class="foreground"></div>
        <div class="midground"></div>   
        <div class="muntanya1"></div>
        <div id="cloud" class="target animate">
            <div class="cloud cloud-1"></div>
            <div class="cloud cloud-2"></div>
            <div class="cloud cloud-3"></div>
        </div>
        <div class="cel"></div>
</div>

<!-- Contenido -->

<div class="container-fluid base">
            <div class="row ">
                <div class="col-sm-2 vidas">
                    <div class="vh">
                        <img class="heart" src="~/css/imatges/corazon.png">
                    </div>
                    <div class="vh">
                        <img class="heart" src="~/css/imatges/corazon.png">
                    </div>
                    <div class="vh">
                        <img class="heart" src="~/css/imatges/corazon.png">
                    </div>
                     <div class="vh">
                        <img class="heart" src="~/css/imatges/corazon.png">
                    </div>
                
                </div>
                <div class="col-sm-8 game">
                            <div class="card unmatched "></div>
                            <div class="card unmatched"></div>
                            <div class="card unmatched"></div>
                            <div class="card unmatched"></div>
                            <div class="card unmatched "></div>
                            <div class="card unmatched "></div>
                            <div class="card unmatched"></div>
                            <div class="card unmatched"></div>
                            <div class="card unmatched"></div>
                            <div class="card unmatched"></div>
                            <div class="card unmatched"></div>
                            <div class="card unmatched"></div>
                           
                    <div class="progress BarraAcitivdad">
                            <div class="progress-bar progress-bar-info progress-bar-striped active PNumerosA" 
                            role="progressbar"></div>
                    </div>
                    
                    </div>
                <div class="col-sm-2 animationHeroe">Animation</div>
            </div>
            
        </div>
        

        
