<!-- Animacion -->
@*<div class="animation">
        <div class="foreground"></div>
        <div class="midground"></div>
        <div class="muntanya1"></div>
        <div id="cloud" class="target animate">
            <div class="cloud cloud-1"></div>
            <div class="cloud cloud-2"></div>
            <div class="cloud cloud-3"></div>
        </div>
        <div class="cel"></div>
        <p class="nombre">Activitat1RC</p>
    </div>*@

<!-- Contenido -->
<div class="container-fluid baseProgress">
    <div class="row indexreino">
        <div class="col-sm-12 TituloNumeros">
            Regne Números
        </div>
    </div>
    <div class="row DivsActividades">
        <div class="col-sm-4 ProgresoActividades">
            <div class="opciones">
                <div class="opcionn opcion1">
                    Activitat 1
                </div>
                <div class="opcion opcion2">
                    <div class="texto textofet">
                        Vegades Be
                    </div>
                    <div class="textores textoresba1">
                        
                    </div>
                </div>
                <div class="opcion opcion3">
                    <div class="texto textofet">
                        Vegades Malament
                    </div>
                    <div class="textores textoresma1">
                        
                    </div>
                </div>
            </div>
            <div class="ProgresoFinal">
                <div class="progress progbar">
                    <div class="progress-bar progress-bar-success progress-bar-striped active BarraFinal">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 ProgresoActividades">

        </div>
        <div class="col-sm-4 ProgresoActividades">

        </div>
    </div>
</div>
<div class="container-fluid baseProgress">
    <div class="row DivsActividades">
        <div class="col-sm-4 ProgresoActividades">
            <div class="opciones">
                <div class="opcionn opcion1">
                    Activitat 2
                </div>
                <div class="opcion opcion2">
                    <div class="texto textofet">
                        Vegades Be
                    </div>
                    <div class="textores textoresba2">
                        
                    </div>
                </div>
                <div class="opcion opcion3">
                    <div class="texto textofet">
                        Vegades Malament
                    </div>
                    <div class="textores textoresma2">
                        
                    </div>
                </div>
            </div>
            <div class="ProgresoFinal">
                <div class="progress progbar">
                    <div class="progress-bar progress-bar-success progress-bar-striped active BarraFinal2">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 ProgresoActividades">

        </div>
        <div class="col-sm-4 ProgresoActividades">

        </div>
    </div>
</div>
<div class="container-fluid baseProgress">
    <div class="row DivsActividades">
        <div class="col-sm-4 ProgresoActividades">
            <div class="opciones">
                <div class="opcionn opcion1">
                    Activitat 3
                </div>
                <div class="opcion opcion2">
                    <div class="texto textofet">
                        Vegades Be
                    </div>
                    <div class="textores textoresba3">
                        
                    </div>
                </div>
                <div class="opcion opcion3">
                    <div class="texto textofet">
                        Vegades Malament
                    </div>
                    <div class="textores textoresma3">
                        
                    </div>
                </div>
            </div>
            <div class="ProgresoFinal">
                <div class="progress progbar">
                    <div class="progress-bar progress-bar-success progress-bar-striped active BarraFinal3">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 ProgresoActividades">

        </div>
        <div class="col-sm-4 ProgresoActividades">

        </div>
    </div>
</div>
<div class="container-fluid baseProgress">
    <div class="row indexreino">
        <div class="col-sm-12 TituloNumeros">
            Regne Colors
        </div>
    </div>
    <div class="row DivsActividades">
        <div class="col-sm-4 ProgresoActividades">
            <div class="opciones">
                <div class="opcionn opcion1">
                    Activitat 1
                </div>
                <div class="opcion opcion2">
                    <div class="texto textofet">
                        Vegades Be
                    </div>
                    <div class="textores textoresba4">
                        
                    </div>
                </div>
                <div class="opcion opcion3">
                    <div class="texto textofet">
                        Vegades Malament
                    </div>
                    <div class="textores textoresma4">
                        
                    </div>
                </div>
            </div>
            <div class="ProgresoFinal">
                <div class="progress progbar">
                    <div class="progress-bar progress-bar-success progress-bar-striped active BarraFinal4">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 ProgresoActividades">

        </div>
        <div class="col-sm-4 ProgresoActividades">

        </div>
    </div>
</div>

<!-- PopUp -->
<div class="modal fade tipotexto" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Activitat 1!</h3>
            </div>
            <div class="modal-body modalflex">
                <div id="reigno" class="animacionmodal">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" data-dismiss="modal" class="btn btn-primary botonacabar3" value="Tornar al Regne!" />
            </div>
        </div>
    </div>
</div>


