@{
    ViewData["Title"] = "About";
}
<!-- Animacion -->
<div class="animation">
    <div class="foreground"></div>
    <div class="midground"></div>
    <div class="muntanya1"></div>
    <div id="cloud" class="target animate">
        <div class="cloud cloud-1"></div>
        <div class="cloud cloud-2"></div>
        <div class="cloud cloud-3"></div>
    </div>
    <div class="cel"></div>
</div>
<!-- Contenido -->
<div class="container-fluid base3">
    <div class="row ">

        <div class="col-sm-6 actividad">
            <div class="actividades">
                <a asp-controller="Home" asp-action="Activitat1RC" class="btn-toolbar">
                    <button class="BotonReinoNumeros">
                        <img class="actividadR3 RNumeros" src="~/css/imatges/base1.png">
                    </button>
                </a>
            </div>
        </div>
        <div class="col-sm-6 actividad">
            <div class="actividades">
                <a asp-controller="Home" asp-action="Activitat1RN" class="btn-toolbar">
                    <button class="BotonReinoNumeros">
                        <img class="actividadR3 RNumeros" src="~/css/imatges/base2.png">
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6 actividad">
            <div class="progress BarraAcitivdad2">
                <div class="progress-bar progress-bar-striped active ActividadBarra" role="progressbar">

                </div>
            </div>
        </div>
        <div class="col-sm-6 actividad">
            <div class="progress BarraAcitivdad2">
                <div class="progress-bar progress-bar-striped active ActividadBarra" role="progressbar">

                </div>
            </div>
        </div>
    </div>
</div>


